<div class="container">
  <img src="../../../assets/background6.png" alt="Background" class="background-image">
  <div class="register-form">
    <h2>Create a new account</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" required>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" required>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" required>
      </div>

      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" formControlName="firstName" required>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" formControlName="lastName" required>
      </div>

      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" id="country" formControlName="country" required>
      </div>

      <button type="submit" [disabled]="!registerForm.valid">Register</button>

      <div class="login-redirect">
          Already have an account? <a routerLink="/login">Login here.</a>
      </div>
    </form>
  </div>
</div>
