<nav class="sidebar">
  <ul class="sidebar-list">
    <li class="sidebar-item">
      <a routerLink="/home" class="sidebar-link" (click)="navigate('home')">
        <img src="../assets/home_icon.png" alt="Home" class="sidebar-icon">
        Home
      </a>
    </li>
    <li class="sidebar-item">
      <a routerLink="/questions" class="sidebar-link">
        <img src="../assets/questions_icon.png" alt="Questions" class="sidebar-icon">
        Questions
      </a>
    </li>
    <li class="sidebar-item">
      <a routerLink="/tags" class="sidebar-link">
        <img src="../assets/tag_icon.png" alt="Tags" class="sidebar-icon">
        Tags
      </a>
    </li>
  </ul>
</nav>
